use kerl 26.1
use elixir 1.16.0
export LC_CTYPE=UTF-8
export CERT="~/.ssh/id_rsa"
export HOST="pi@willy"
source_env ".secrets"
export HETZNER_CERT="~/.ssh/hetzner"
export HETZNER_HOST="root@49.13.157.139"
export SECRET_KEY_BASE=RhjWjhJaIwXKSvffWEHWyaUcgld/6lkt17a5LFn3WU9ns215uQQ0gdAUHrk1BCOP
export DATABASE_URL=ecto://postgres:postgres@localhost/backend_dev